.Card{
  width: 400px;
  overflow: hidden;
  border-radius: 20px;
  padding: 0;
  margin: 10px auto;
  position: relative;
}

h3 {
  background-color: lightskyblue;
  color: blueviolet;
  margin: 0;
  padding: 30px 30px 0;
}

.contact p {
  background-color: #9CCC65;
  color: navy;
  margin: 0;
  padding: 20px;
}

img{
  position: absolute;
  top: 20px;
  right: 20px;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  border: 2px solid white;
}


